<div class="row">
  <div class="small-12 columns">
    <h1>Brunch</h1>
    <div class="horizontal_section">
      This is a horizontal section.  something something something something something something something.
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h1>Dayclubs</h1>
    <div class="horizontal_section">
      This is a horizontal section.  something something something something something something something.
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h1>Dinner</h1>
    <div class="horizontal_section">
      This is a horizontal section.  something something something something something something something.
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h1>Nightclubs</h1>
    <div class="horizontal_section">
      This is a horizontal section.  something something something something something something something.
    </div>
  </div>
</div>