<h1>Listing reservations</h1>

<div class="horizontal_section">
  This is a horizontal section.  something something something something something something something.
</div>


<% @reservations.each do |reservation| %>
  <tr>
    <td><%= link_to 'Show', reservation %></td>
    <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
    <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reservation', new_reservation_path %>
