div {
	padding: 0px;
	margin: 0px;
}
.row {
	background-color: #00ff00;
	padding: 0px;
	margin: 0px;
}

.columns {
	padding: 0px;
	margin: 0px;
}

.small-12 {
	padding: 0px;
	margin: 0px;
}

.horizontal_section {
	margin: 0px;
	background-color: #ff0000;
	padding: 10px;
	height: 30px;
	width: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
}