body {
	font-family: 'Open Sans', sans-serif;
}

div {
	padding: 0px;
	margin: 0px;
}
.row {
	background-color: #222222;
	padding: 0px;
	margin: 0px;
	margin-bottom: 30px;
	padding-bottom: 12px;
}

.columns {
	padding: 0px;
	margin: 0px;
}

.small-12 {
	padding: 0px;
	margin: 0px;
}

.activity {
	background-color: #222222;
	padding: 0px;
	margin: 0px;
	margin-bottom: 30px;
	padding-bottom: 12px;
}

.horizontal_section {
	margin: 0px;
	background-color: #121212;
	padding: 12px 0px 12px 0px;
	height: 164px;
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}

.activity_image {
	display: inline-block;
	background-color: #000000;
	margin: 0px 10px 0px 0px;
	width: 85%;
	height: 140px;
	overflow-y: hidden;
	img {
		width: 100%;
		max-width: 100%;
	}
}

img {
		width: 100%;
		max-width: 100%;
}

.right {
	text-align: right;
}

h1 {
	font-weight: lighter;
	font-size: 2em;
	color: #fff;
	margin-top: 0px;
	margin-left: 10px;
	margin-bottom: -0.22em;
	z-index: 2;
	.pull-left {
		margin-left: -10px;
	}
}

.subheader {
	color: #cccccc;
	margin-top: 2px;
}

h2 {
	font-weight: normal;
	font-size: 2em;
	color: #00ff00;
}