body {
	font-family: 'Open Sans', sans-serif;
}

div {
	padding: 0px;
	margin: 0px;
}
.row {
	background-color: #222222;
	padding: 0px;
	margin: 0px;
	margin-bottom: 30px;
	padding-bottom: 12px;
}


/* header */

.header {
	display: inline-block;
	background-color: #222222;
	width: 100%;
	height: 30px;
	padding: 0px;
	padding-top: 6px;
	margin: 0px;
	margin-bottom: 30px;
}

.header_info {
	display: inline-block;
	float: left;
	width: 50%;
	padding-left: 10px;
}

.header_my_activities {
	display: inline-block;
	float: left;
	width: 50%;
	text-align: right;
	padding-right: 10px;
}

.imageheader {
	display: inline-block;
	background-color: #222222;
	width: 100%;
	height: 30px;
	padding: 0px;
	padding-top: 6px;
	margin: 0px;
}


/* login screen */

.login_screen {
	background: #fff url(/assets/wheat_bg.jpg) no-repeat 0 0;
	width: 100%;	
	height: 100%;
	display: inline-block;
}

.login_logo {
	position:fixed;
  top: 40%;
  left: 50%;
  margin-top: -11px;
  margin-left: -138px;
  z-index: 11;
}

.login_fb {
	position:fixed;
  top: 55%;
  left: 50%;
  height: 22px;
  width: 154px;
  margin-top: -11px;
  margin-left: -77px;
  z-index: 10;
}

.splash_bg {
	height: 100%;
	width: 150%;
	max-width: none;
	max-height: none;
	z-index: -10;
}

/* activity content */

.description {
	display: inline-block;
	width: 100%;
	padding: 12px;
	text-align: left;
}


.columns {
	padding: 0px;
	margin: 0px;
}

.small-12 {
	padding: 0px;
	margin: 0px;
}

.activity {
	background-color: #222222;
	padding: 0px;
	margin: 0px;
	margin-bottom: 30px;
	padding-bottom: 12px;
	-webkit-overflow-scrolling: touch;
}

.horizontal_section {
	margin: 0px;
	background-color: #121212;
	padding: 12px 0px 12px 0px;
	height: 164px;
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

.activity_box {
	display: inline-block;
	margin: 0px 10px 0px 0px;
	width: 85%;
	height: 140px;
	overflow-y: hidden;
	border: 0;
	img {
		width: 100%;
		max-width: 100%;
	}
}

.activity_image {
	display: block;
	background-color: #000000;
	margin: 0;
	width: 100%;
	height: 122px;
	overflow-y: hidden;
	border: 0;
	img {
		width: 100%;
		max-width: 100%;
	}
}

.info_overlay {
	display: block;
	color: #ffff00;
	background-color: #555555;
	padding-left: 10px;
	height: 18px;
	opacity: 0.7;
	width: 100%;
	margin: 0;
}

img {
		width: 100%;
		max-width: 100%;
}

.right {
	text-align: right;
}

h1 {
	font-weight: lighter;
	font-size: 2em;
	color: #fff;
	margin-top: 0px;
	margin-left: 10px;
	margin-bottom: -0.12em;
	z-index: 2;
	.pull-left {
		margin-left: -10px;
	}
}

.subheader {
	color: #cccccc;
	margin-top: 2px;
}

h2 {
	font-weight: normal;
	font-size: 2em;
	color: #00ff00;
}

.cartbutton {
	margin: 10px;
	padding: 10px;
	text-align: center;
}

.cart_buy {
	border-color: #336633;
	background-color: #225522;
	color: #00ff00;
}

.cart_purchased {
	border-color: #555555;
	background-color: #333333;
	color: #aaaaaa;
}


/* My Stuff */

.my_activity_box {
	display: inline-block;
	margin: 0px 10px 30px 0px;
	width: 95%;
	height: 140px;
	overflow-y: hidden;
	border: 0;
	img {
		width: 100%;
		max-width: 100%;
	}
}

.my_activity_image {
	display: block;
	background-color: #000000;
	margin: 0;
	width: 100%;
	height: 122px;
	overflow-y: hidden;
	border: 0;
	img {
		width: 100%;
		max-width: 100%;
	}
}

.my_info_overlay {
	display: block;
	color: #ffff00;
	background-color: #555555;
	padding-left: 10px;
	height: 18px;
	opacity: 0.7;
	width: 100%;
	margin: 0;
}